.router-link-exact-active {
    font-weight: bold;
}

#app {
    font-family: 'Happy Monkey', cursive;
}

.product-card {
    border-radius: 20px;
}

.detail-card {
    border-radius: 20px;
}

.card-img-top {
    border-radius: 20px;
}

.form-control {
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;
}

.btn-warning {
    border-radius: 20px;
}

.btn-danger {
    border-radius: 20px;
}

.btn-dark {
    border-radius: 20px;
}

.badge {
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.harga {
    font-size: 1.4em;
    color: #ffc107;
}

.harga-card {
    font-size: 1em;
    color: #ffc107;
}

.harga-palsu {
    text-decoration: line-through red;
    color: black;
}

.table th {
    text-align: center;
    background-color: #e6e4e465;
}

.table td {
    text-align: center;
}

.table tfoot {
    background-color: #e6e4e465;
}

.content {
    min-height: calc(100vh - 70px);
  }
.footer {
    height: 50px;
  }

.tabledetail {
    table-layout: fixed;
    word-wrap: break-word;
  }
