.router-link-exact-active {
    font-weight: bold;
}

#app {
    font-family: 'Jost', sans-serif;
}

.product-card {
    border-radius: 20px;
    width: 288px;
}

.detail-card {
    border-radius: 20px;
}

.card-img-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form-control {
    border-radius: 20px;
}

.form-select {
    border-radius: 20px;
}

.btn-warning {
    border-radius: 20px;
}

.btn-delete {
    border-radius: 20px;
}

.btn-dark {
    border-radius: 20px;
}

.badge {
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.harga {
    font-size: 1.4em;
    color: #ffc107;
}

.harga-card {
    font-size: 1em;
    color: #ffc107;
}

.harga-palsu {
    text-decoration: line-through red;
    color: black;
}

.table th {
    text-align: center;
    background-color: #e6e4e465;
}

.table td {
    text-align: center;
}

.table tfoot {
    align-items: center;
    background-color: #e6e4e465;
}

.content {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
}

.tabledetail {
    table-layout: fixed;
    word-wrap: break-word;
}

.card-deskripsi {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.upload {
    display: none;
}

.swal-button {
    background-color: #ffc107;
}